body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: flex;
    gap: 20px;
}
li {
    list-style-type: none;
    
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 320px;
    margin: 100px 0;
    
    
}
.content {
    width: 400px;
    
    
}
.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    
}
.main-paragraph {
    font-size: 18px;
    margin-bottom: 20px;
    color: #E5E7EB;
}
.main-button {
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
}



.box-container .box{
    
    overflow: hidden;
}
.box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.second-section {
    background: white;
    height: 700px;
}
.second-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
    
}

.div-container {
    
    display: flex;  
    padding: 40px;
    justify-content: center;
    height: 450px;
    
}

.box {
    height: 200px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    border: 5px solid #3882F6;
    
}
.box-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1F2937;
    width: 400px;
    height: 400px;
    margin: 50px;
    
}

.box-container span{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.third-section {
    background-color: #E5E7EB;
    padding: 200px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.reference {
    font-size: 25px;
    float: right;
    
}

.fourth-section {
    background-color: #fff;
    padding: 100px;
    
}

.call-to-action {
    background-color: #3882F6;
    color: #fff;
    padding: 60px;
    display: flex;
    justify-content: space-around;    
}
.third-title {
    font-size: 30px;
    font-weight: 500;
}
.signup-text {
    font-size: 20px;
}

.bottom-signup {
    border: 5px solid #fff;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10%;

}

footer {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.copyright {
    font-size: 20px;
    color: #fff;
}