* {
    margin: 0;
    padding: 0;
}

h1 {
    
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 20px;
}

.header {
    
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.content {
    
    padding: 10px;
    width: 400px;
}

.img img {
    
    border-radius: 50%;
}

.para-one {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.button-one {
    background-color: #3882f6;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 6%;
}

.first-section {
    font-family: 'Roboto',sans-serif;
    background-color: #1f2937;
    margin: 0;
    padding: 10px 200px;
}